$base-font-size: 16px;

/* COMMON */
$black: #333;
$grey: #656565;
$white: #FFFFFF;

/* FONTS */
$font-regular: WorkSans-Regular;
$font-medium: WorkSans-Medium;

/* HEADER */
$header--bg: $white;

/* MAIN CONTENT */
$main--bg: #F2F2F2;

/* NAVIGATION */
$navigation--bg: #F7F7F7;

/* BRANDING */
$brand--clr: #6200EA;
$brand--clr-1: #25254B;
